.app-container {
  height: 325px;
  width: 100%;
  background-image: url("public/hero_image.jpg");
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: hidden;
}

.header { 
  color: white;
  text-align: left;
  padding: 20px;
  padding-top: 75px;
  font-size: 45px;
  font-weight: bold ;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.oneliner { 
  color: white;
  text-align: left;
  padding: 20px;
  font-size: 25px;
  width: 800px; 
  word-wrap: break-word;
  font-weight: bold ;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.timer {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 16px;
  color: #555;
}


.button {
  background-color: #0C6DFD;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 12px 24px;
  cursor: pointer;
}
