<html>
  <head></head>
  <body>
    <h1>Add a new album</h1>
    <form method="POST" action="/albums">
      <p><label><b>Title:</b></label>
      <input type="text" name="title"/>
      <p><label><b>Release Year:</b></label>
      <input type="text" name="release_year"/>
      <p><label><b>Artist ID:</b></label>
      <input type="text" name="artist_id"/>
      <input type="submit">
    </form>
  </body>
</html>