<html>
  <head></head>
  <body>
    <h1>Add a new artist</h1>
    <form method="POST" action="/artists">
      <p><label><b>Artist Name</b></label>
      <input type="text" name="name"/>
      <p><label><b>Genre</b></label>
      <input type="text" name="genre"/>
      <input type="submit">
    </form>
  </body>
</html>